PORT=25565
MEDIA_ROOT=./media
TEMP_UPLOAD_ROOT=./tmp/uploads
CORS_ORIGINS=https://stage.gonvar.io,https://www.gonvar.io
MAX_UPLOAD_SIZE_MB=2048
HLS_TIME=10
HLS_CRF=23
HLS_PRESET=medium
AUDIO_BITRATE=128k
SOURCE_TARGET_HEIGHT=2160
